@import '/src/assets/styles/general.scss';

.header {
    @include flex-center;
    padding: 50px 0 125px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.8s;
    >nav {
        border-radius: 13px;
        padding: 10px 17px;
        background: linear-gradient(150deg, #04071d 0%, #0c0e23 100%);
        border: 1px solid rgb(255, 255, 255, .1);
        @media screen and (max-width: 768px) {
            padding: 10px 10px;
            
        }
        >ul li a {
            font-weight: 500;
            font-size: 16px;
            line-height: 110%;
            letter-spacing: -0.03em;
            color: #c1c2d3;
            text-decoration: none;
        }
    }
}

.header.hide {
    top: -300px; /* Скрыть заголовок (предполагаемая высота заголовка 60px) */
}

.navItem {
    @include flex-center;
    align-items: center;
    gap: 32px;
    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}